{% extends 'base.html.twig' %}

{% block title %}Role{% endblock %}
{% block body_class %}d-flex flex-column h-100{% endblock %}
{% block body %}

    {% include 'header.html.twig' %}

    <main class="flex-shrink-0">
        <div class="container">
            <h2 class="mt-5">Role</h2>
            <table class="table">
                <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ role.name }}</td>
                </tr>
                </tbody>
            </table>

            <a href="{{ path('app_role_index') }}">back to list</a>

            <a href="{{ path('app_role_edit', {'id': role.id}) }}">edit</a>

            {{ include('role/_delete_form.html.twig') }}

        </div>
    </main>
{% endblock %}
